a {
  cursor: pointer;
}

/* Fix ui-bootstrap nav menu */
@media (max-width: 767px) {

    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }

}



/* home page */
.master {
    margin-top: 50px;
}


footer{
  background-color: rgb(8, 40, 69);
  color: #fff;
  text-align: center;
}

.blue-logo{
  opacity: 0.4;
}

.blue-logo p{
  font-size: 10px;
}

.blue-logo img{
  padding-top: 30px;
  width: 60px;
}



