a {
  cursor: pointer;
}

/* Fix ui-bootstrap nav menu */
@media (max-width: 767px) {

    .visible-xs.collapse.in {
        display: block!important;
    }
    .visible-xs.collapse {
        display: none!important;
    }

}



/* home page */
.master {
    margin-top: 50px;
}


#home #projects {
    height: 300px;
    background-color: #AA8439;
}


/* helios roofing */
.btn-helios {
  color: #28426D;
  background-color: #fff;
  border-color: #28426D; 
  border: solid 3px;
}

.btn-helios:hover{
  color: #fff;
  background-color: #28426D;
  border-color: #28426D; 
}

.btn-helios-dark {
  color: #fff;
  background-color: #28426D;
  border-color: #fff; 
  border: solid 3px;
}

.btn-helios-dark:hover{
  color: #28426D;
  background-color: #fff;
  border-color: #fff; 
}


.btn, .thumbnail{
  border-radius: 0;
}

.thumbnail-icon{
  width: 40px;
  float: right;
}

.thumbnail-icon:hover{
  width: 45px;
}

.navbar-default {
background-color: #ffffff;
border-color: none;
border-top: 5px solid #28426D;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a:hover {
color: #ffffff;
background-color: #28426D;
}

.navbar-default .navbar-nav>li>a {
color: #28426D;
}

.menu-img{
  height: 30px;
}

.v-center {display:table!important; 
  height:50px;
}

.v-center div[class*='col-'] {
  display: table-cell!important;
    vertical-align:middle;
    float:none;
}

.panel{
  position: fixed;
  right: 15px;
  width: 300px;
  z-index: 1200;
  border: none;
}

.panel-primary>.panel-heading{
  background-color: #28426D;
  border-color: #28426D; 
}

.panel-primary {
border-color: none;
-webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,0.18);
box-shadow: 0 0 9px 0 rgba(0,0,0,0.18);
}

.carousel{
  height: auto;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
top: 50%;
}

.carousel-control.right, .carousel-control.left{
  background-image:none;
}

.carousel-indicators {
bottom: 100px;
}

.carousel-caption{
  padding-bottom: 20%;
}

.carousel-caption .glyphicon{
  font-size: 30px;
  vertical-align: middle;
}

.carousel-inner img{
  -webkit-filter: contrast(1.8) grayscale(0.1) invert(0.2);
}

.carousel-inner > .item > img{
  width: 100%;
}

.carousel-inner h1{
  font-family: Arial;
}

.carousel-inner h1, .carousel-inner p{
  text-shadow:10px 7px 35px black;
}


.btn-lg, .btn-group-lg>.btn {
border-radius: 0px;
}

.btn-outline {
color: #fff;
background-color: rgba(255, 200, 67, 0.8);
}

/* Start of weather-bar*/

#weatherBar {
  position: relative;
  width: 50%;
  z-index: 19;
  margin-top: -100px;
  margin-right: auto;
  margin-left: auto;
}

#weatherBar .table{
  color: white;
  background-color: black;
}

#weatherBar th{
  text-align: center;
  font-size: smaller;
}

#weatherBar th img{
  width: 34px;
  margin-top: -7px;
}

#weatherBar td {
  cursor: pointer;
  transition: all 0.3s;
}

#weatherBar td:hover {
  color: #0e83cd;
  background: #fff;
}

#weatherBar .table>thead>tr>th, #weatherBar .table>tbody>tr>th, #weatherBar .table>tfoot>tr>th, #weatherBar .table>thead>tr>td, #weatherBar .table>tbody>tr>td, #weatherBar .table>tfoot>tr>td {
padding-top: 11px;
border-top: none;
width: 70px;
vertical-align: middle;
}

#weatherBar .table-bordered, #weatherBar .table-bordered>thead>tr>th, #weatherBar .table-bordered>tbody>tr>th, #weatherBar .table-bordered>tfoot>tr>th, #weatherBar .table-bordered>thead>tr>td, #weatherBar .table-bordered>tbody>tr>td, #weatherBar .table-bordered>tfoot>tr>td {
border: none;
}

#weatherBar .date{
  font-weight: 100;
}

#weatherBar .project_service{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-size: 11px;
  color: black;
}

#weatherBar .roof_repair{
  background-color: #6DADC9;
}

#weatherBar .gutter_fix{
  background-color: #ADCEE1;
}
#weatherBar .inspection {
  background-color: #AEBCCE
}

#weatherBar .default_service{
  background-color: antiquewhite;
}

/* End of weather-bar*/

.logo img{
  margin: 120px 0 0 0;
}

.logo .text {
  margin-bottom: 55px;
  font-size: 21px;
  color: rgb(50, 81, 113);
}

/* Start of Footer */
#contact{
  color: #28426D;
}

#contact .bg{
  margin-bottom: 60px;
  background-size: 100%;
}

#contact .phone-number{
  background-color: #fff;
}

#contact .row{
  margin: 0px 15px 60px 15px;
}

#contact h1{
  font-weight: normal;
  padding: 60px 0px 0px 0px;
}

#contact h5{
  color: #fff;
}


#contact p{
  font-weight: 200;
}


#contact .dl-horizontal dd {
margin-left: 0;
}

#contact .dl-horizontal dt{
  width: auto;
}

.contact-form {
  padding-left: 40px;
  padding-right: 40px;
}

.contact-form textarea {
  max-width: 100%;
}

#contact_1 h2{
  margin: 0px;
}

#contact_1{
  margin-bottom: 60px;
}

.contact-ways{
  padding: 60px 0px 90px 0px;
  background-color: rgb(40, 66, 109);
  color: #fff;
}

.contact-ways img{
  width: 50px;
}

.contact-ways p{
  font-weight: 100;
}

.contact-ways .clickable {
  cursor: pointer;
}

.contact-ways a {
  color: white;
}

.contact-ways a:hover {
  color: white;
}

footer{
  background-color: rgb(8, 40, 69);
  color: #fff;
  text-align: center;
}

.blue-logo{
  opacity: 0.4;
}

.blue-logo p{
  font-size: 10px;
}

.blue-logo img{
  padding-top: 30px;
  width: 60px;
}

#estimate-shortcut {
    position: fixed;
    right: 10px;
    bottom: 15px;
    text-align: center;
    padding: 10px;
    background-color: rgba(51, 122, 183, 0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#estimate-shortcut:hover {
  background-color: rgba(51, 122, 183, 1);
}

#estimate-shortcut .icon {
  font-size: 25px;
  color: #FFF;
}

.estimate-branding{
  background: #fff;
  padding: 30px 5px;
}

.estimate-branding-row{
  border-top: 5px solid rgb(246, 227, 74);
}

/* End of Footer*/

/* Start of Project Summary */
#project-summary{
    background-color: #28426D;
}

.project-summary-btn-row{
  margin: 60px 15px 60px 15px;
  opacity: 0.5;
}

.project-summary-btn-row:hover{
  opacity: 1;
}

#project-summary blockquote{
  height: 80px;
  overflow: hidden;
}

#project-summary .container{
  max-width: 960px;
}

#project-summary h1{
  color: #fff;
  padding: 50px;
}

.porject-more-butten{
  font-size: 30px;
  width: 100%;
  color: #fff;
  background-color: #28426D;
  border-color: #fff; 
  border: solid 3px;
  opacity: 0.2;
  margin: 60px 0px 90px 0px;
}

.porject-more-butten:hover{
  color: #fff;
  background-color: #28426D;
  border-color: #fff; 
  opacity: 1;
}

/* End of Project Summary*/


/* Start of Service Summary */
#service-summary {
  margin-top: 120px;
}

#service-summary .about{
  margin-bottom: 90px;
}

.service-summary-btn-row{
  margin: 60px 15px 60px 15px;
  opacity: 0.5;
}

.service-summary-btn-row:hover{
  opacity: 1;
}

/* End of Service Summary*/


/* Start of Services page */
#services{
  color: #fff;
  background-repeat: no-repeat;
  background-size:cover;
 }

#services .container{
  max-width: 900px;
}
#services .thumbnail, #service-summary .thumbnail{
  border: none;
  background-color: rgba(255, 255, 255, 0.75);
    -webkit-transition: 0.3s;
       -moz-transition: 0.3s;
            transition: 0.3s;
  /*background-color:#fff; 
    background-size: 150px 150px;
  background-position:center bottom;*/
}
#services p, #service-summary p{
  font-size: 12px;
  opacity: 0.7;
}

#services h1{
  padding-top: 60px;
}

#services .about{
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 1.5em;
}

#services .thumbnail img, #service-summary .thumbnail img{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px solid #135081;
  box-shadow: 0 0 0 3px #135081;
  border-radius: 50%;
  -webkit-transition: border 0.3s;
     -moz-transition: border 0.3s;
          transition: border 0.3s;
}

#services .thumbnail:hover, #service-summary .thumbnail:hover{
  background-color: rgba(255, 255, 255, 1);

}

#service-summary .thumbnail:hover{
  background-color: rgba(23, 64, 106, 0.25)

}

#services .thumbnail:hover img, #service-summary .thumbnail:hover img{
  border: 5px solid #fff;
}

#services .categories{
  margin-bottom: 60px;
}

#services .categories img{
  max-width: 30px;
}


#services .categories .btn{
  background: #fff;
  color: #28426D;
  opacity: 0.7;
  padding: 10px;
}


#services .categories .btn:hover{
  opacity:1;
}

#services .categories .btn.current {
  background-color: #28426D;
  color: #fff;
}

#services .thumbnail .caption {
  height: 230px;
}

#services .service-summary, #service-summary .service-summary {
  height: 80px;
  overflow-y: auto;
}

#services .detial-btn, #service-summary .detial-btn{
  color: #28426D;
  padding: 5px 15px;
  margin: 15px;
  border: 1px solid #28426D;
  background: #fff;
  opacity: 0.6;
}

#services .detial-btn:hover{
  opacity: 1;
}


/* End of Services*/


/* Start of Project Detail */
#projects .row{
  margin-bottom: 30px;
}

#projects .btn-helios{
  opacity: 0.4;
}

#projects .more-projects-btn{
  margin-bottom: 180px;
}

#projects h3{
  margin: 0;
  padding: 0;
  color: rgb(8, 40, 69);
}
.project-secondary-text p{
padding: 40px;
}

/* Start of Project Detail */

/* Start of Chat Box */
/*
#chat-box .panel-body {
  width: 100%; 
  height: 150px;
  overflow: auto;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  background-color: #f4f4f4 !important;
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}
*/
/* loading */
/*
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}
*/
/* End of Chat Box*/

/*Start of Servrice detials*/
.modal-dialog .detial-img{
  width: 100%;
  padding: 15px 0px;
}

button.close{
  padding: 0px 6px;
}

.servrice-icon{
  padding: 6px;
  background: rgb(23, 64, 106);
  margin-left: 15px;
  width: 60px;
}

.modal-content{
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.modal-dialog .row{
  background: #fff;
  margin-right: 0;
}

.modal-title{
  margin-top:50px;
}

.modal-content button{
  float: right;
  margin-top: 15px;
  margin-bottom: 60px;
}

.modal-content .col-md-1, .modal-content .col-md-7, .modal-content .col-md-4{
  padding: 0px 15px 0px 15px;
}

.modal-content p{
  padding: 15px 30px 0px 0px;
}
/*End of Servrice detials*/





/*Start of Free estimate form*/
.estimate-header{
  color: #fff;
}

.form-control{
  border-radius: 0;
}

/*End of Free estimate form*/







@media (max-width: 767px) {

  .table > tbody > tr > th{
    padding-left: 0px;
    padding-right: 0px;
  }

  .table > tbody > tr > td,.table>tbody>tr>th{
    padding: 3px;
    width: 50px;
  }


  #weatherBar{
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 0;
  }

  th img{
    width: 23px;
  }

  .carousel-inner p{
  display: none;
  }

  .carousel-caption {
  padding-bottom: 0;
  }

  .carousel-indicators li{
  display: none;
  }

  .contact-ways div{
  margin-bottom: 90px;
}


}



